/* Imposta il font */
.p {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
}

/* Imposta lo sfondo */
body {
  background-color: #d2d2d295; /* Colore di sfondo */
  ---------------------------------------------------....#########-#-((background-image: url('sfondo.jpg'))); /* Immagine di sfondo */
  background-repeat: no-repeat; /* Non ripetere l'immagine */
  background-size: cover; /* Copri l'intera area dello sfondo */
}
